@model List<BikePoints>
<!-- Coloring  -->

    <style>
        .status-OPEN {
            color: green;
        }
        .status-CLOSED {
            color: red;
        }
    </style>
    @foreach (var data in Model)
    {
        <ul class="list-group">
            <li class="list-group-item">
                <p class="text-center display-4 font-weight-bold">Station : @data.name</p>
                <p class="status-@data.status">Statut :@data.status</p>
                <p>Adresse : @data.address</p>
            </li>
        </ul>

    }
    
}

